<h1>Add Books</h1>
<br/>
{{vm.form.books}}
<hr/>
<form name="addBooks" class="form-inline" novalidate>

    <form-fields all-fields="vm.form.addFields" all-books="vm.form.books" model-fields="vm.form.addFields[$index]" model-books="vm.form.books[$index]" index="$index" ng-repeat="formFields in vm.form.addFields"></form-fields>

  <hr/>
  <div>
    <button class="btn btn-default" ng-click="vm.addBook()">add book</button>
    <button ng-pluralize count="vm.form.books.length" when="{'0': 'send book', 'one': 'send book', 'other': 'send books'}" class="btn btn-success" ng-disabled="addBooks.$invalid" ng-click="vm.send()"></button>
  </div>
</form>
<br/><br/><br/>
<div class="clearfix">
  <h2 class="pull-left">Book List</h2>
  <h2 class="pull-left" ng-show="vm.bookList.length"> - Cant: <strong class="label label-info">{{vm.bookList.length}}</strong></h2>
</div>
<hr/>
<div>
  <div class="alert alert-info text-center" ng-show="!vm.bookList.length">You dont have books yet, add some one!</div>
  <books-list model-books="vm.bookList"></books-list>
    </tbody>
</div>