<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th ng-repeat="item in fields">{{item.name}}</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-form name="editBook" ng-repeat="book in modelBooks track by $index">
      <td ng-repeat="field in fields">
        <!-- <a ng-show="$parent.$index != editingIndex" href="" ng-click="edit($parent.$index)">{{book[field.name]}}</a>-->
         <a href="" ng-click="edit($parent.$index)">{{book[field.name]}}</a>
        <div ng-show="$parent.$index == editingIndex">
          <input ng-if="field.params.view == 'input'" type="{{field.params.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" required="{{field.require}}" ng-model="book[field.name]" ng-pattern="field.pattern" ng-true-value="'yes'" ng-false-value="'no'">
          <select ng-if="field.params.view == 'select'" ng-options="option for option in field.params.yearList" ng-model="book[field.name]" name="{{field.name}}" ng-required="{{field.required}}">
            <option value=''>Choose year</option>
          </select>
          <div class="help-block has-error" ng-if="editBook[field.name].$dirty" ng-messages="editBook[field.name].$error">
            <span ng-message="{{key}}" ng-repeat="(key, value) in field.messages">{{value}}</span>
          </div>
        </div>
      </td>
      <td>
        <button ng-show="$index != editingIndex"class="btn btn-danger btn-sm" ng-click="removeBook($index)">remove</button>
        <div ng-show="$index == editingIndex">
          <button class="btn btn-success btn-sm" ng-disabled="editBook.$invalid" ng-click="save(book)">save</button>
          <button class="btn btn-danger btn-sm" ng-click="reset($index)">cancel</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

