<h1>Add Books</h1>
<hr/>
<form name="addBooks" class="form-inline" novalidate>
  <div class="form-group" ng-repeat="formFields in vm.form.addFields track by $index">
    <span ng-repeat="field in formFields">
      <label for="{{field.name}}">{{field.name}}</label>
      <input ng-if="field.params.view == 'input'" type="{{field.params.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" required="{{field.require}}" ng-model="vm.form.books[field.id][field.name]">
      <select ng-if="field.params.view == 'select'" name="{{field.name}}"></select>
    </span>
    <span ng-if="$index > 0">
      <button class="btn btn-default">Reset</button>
      <button class="btn btn-danger">Remove</button>
    </span>
  </div>
  <hr/>
  <div>
    <button class="btn btn-default" ng-click="vm.addBook()">add book</button>
    <button class="btn btn-success" ng-click="vm.send()">send book</button>
  </div>
</form>
<br/><br/><br/>
{{vm.form.addFields}}
<br/><br/>
<hr/>
{{vm.form.books}}
<div class="clearfix">
  <h2 class="pull-left">Book List - </h2>
  <h2 class="pull-left" ng-show="vm.bookList.length">Cant: <strong class="label label-info">{{vm.bookList.length}}</strong></h2>
</div>
<hr/>
<div>
  <div class="alert alert-info text-center" ng-show="!vm.bookList.length">You dont have books yet, add some one!</div>
  
  <div ng-repeat="book in vm.bookList" ng-show="vm.bookList.length">
    {{book.bookName}}
  </div>
</div>