<div class="form-group">
  <span ng-repeat="field in modelFields">
    <label for="{{field.name}}">{{field.name}}</label>
    <input ng-if="field.params.view == 'input'" type="{{field.params.type}}" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}" required="{{field.require}}" ng-model="modelBooks[field.name]">
    <select ng-if="field.params.view == 'select'" ng-options="option for option in field.params.yearList" ng-model="modelBooks[field.name]" name="{{field.name}}">
      <option value=''>Choose year</option>
    </select>
  </span>
  <span ng-if="index > 0">
    <button class="btn btn-default">Reset</button>
    <button class="btn btn-danger" ng-click="removeRow(index)">Remove</button>
  </span>
</div>