<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th ng-repeat="item in fields track by $index">{{item.name}}</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'success': book.active && path == '/'}" ng-repeat="book in modelBooks track by $index">
      <td ng-repeat="field in fields">
        <p>{{book[field.name]}}</p>
      </td>
      <td>
        <button ng-show="!book.active"class="btn btn-danger btn-sm" ng-click="buy(book)">buy</button>
        <button ng-show="book.active"class="btn btn-danger btn-sm" ng-click="remove(book)">remove</button>
        <div ng-show="$index == editingIndex">
          <button class="btn btn-success btn-sm" ng-click="save(book)">save</button>
          <button class="btn btn-danger btn-sm" ng-click="reset($index)">cancel</button>
        </div>
      </td>
    </tr>
  </tbody>

</table>